:root {
--aquamarine: #a9fbd7ff;
--rich-black: #00171fff;
--prussian-blue: #003459ff;
--argentinian-blue: #77b6eaff;
--light-orange: #fcd0a1ff;
--header-height: 80px;
}

html {
font-family: 'Montserrat', sans-serif;
}

/* Оформляю фиксированную шапку */

header {
    background: radial-gradient(var(--aquamarine), var(--prussian-blue) 55%);
    background-size: 200% 100%;
    height: var(--header-height);
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: logo-animation 6s ease-in-out infinite reverse;
}

body {
    padding-top: var(--header-height);
}


@keyframes logo-animation {
    0% {
        background-position: -50% 50%;
    }
    100% {
        background-position: 150% 50%;
    }
}

header img:active {
border: 3px inset var(--aquamarine);
border-radius: 10px;
padding: 0 10px;
}

/* Строю карусель "О компании" для мобильных устройств с сенсорным дисплеем */

.carousel {
margin-top: 1rem;
   display: flex;
   gap: 1rem;
}

.slide {
   background: linear-gradient(15deg, var(--light-orange), white 25% 75%, var(--light-orange));
   border-radius: 0.2rem;
   text-align: justify;
   padding: 1rem;
   color: var(--rich-black);
   font-weight: 500;
}

.carousel-spacer {
    display: none;
}

@media (max-width: 768px) {

.carousel {
   overflow-x: auto;
   scroll-snap-type: x mandatory;
   scroll-behavior: smooth;
   -webkit-overflow-scrolling: touch;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.slide {
    flex: 0 0 80%;
    scroll-snap-align: center;
    animation: carousel-start 2s;
}

@keyframes carousel-start {
    0% {
        transform: translateX(-500px);
    }
   
    50% {
        transform: translateX(150px);
    }

    100% {
        transform: translateX(0px);
    }
}

.carousel-spacer {
    display: block;
    width: 200px;
    height: 1px;
}
}


/* Для ПК отображу эту карусель простым FlexBox */

@media (min-width: 768px) {
    .carousel {
    flex-wrap: wrap;
    justify-content: center;
    }
    .slide {
        width: 29%;
        margin: 0 2rem;
        transition: 1s;
    }
    .slide:hover {
        transform: scale(1.3);
        box-shadow: 0 0 5px var(--prussian-blue);
    }
    }