:root {
--aquamarine: #a9fbd7ff;
--rich-black: #00171fff;
--prussian-blue: #003459ff;
--argentinian-blue: #77b6eaff;
--light-orange: #fcd0a1ff;
--header-height: 80px;
}

html {
font-family: 'Montserrat', sans-serif;
}

body {
    background-color: var(--rich-black);
    color: white;
}

.orange-text {
    color: var(--light-orange);
    font-size: 1.2rem;
}

/* Оформляю фиксированную шапку */

header {
    background: radial-gradient(var(--aquamarine), var(--rich-black) 55%);
    background-size: 200% 100%;
    height: var(--header-height);
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: logo-animation 6s ease-in-out infinite reverse;
}

body {
    padding-top: var(--header-height);
}


@keyframes logo-animation {
    0% {
        background-position: -50% 50%;
    }
    100% {
        background-position: 150% 50%;
    }
}

header img:active {
border: 3px inset var(--aquamarine);
border-radius: 10px;
padding: 0 10px;
}

/* Строю анимацию из 6 фактов о компании (FlexBox + animation) */

.slides-group {
   margin-top: 2rem;
   display: flex;
   overflow-x: auto;
}

.slides-group::-webkit-scrollbar {
    display: none;
}

.slide, .slide-spacer { 
    flex: 0 0 40%;
    }

.slide {
   background: linear-gradient(-3deg, var(--aquamarine), var(--rich-black) 15% 85%, var(--aquamarine));
   border-radius: 0.5rem;
   text-align: justify;
   font-weight: 500;
   line-height: 1.3rem;
   padding: 1.5%;
   margin: 0 3%;
   animation: slides-animation 36s cubic-bezier(0.1, 0.9, 0.9, 0.1) infinite; 
}

    /* Анимация для бегущей строки из слайдов + динамичный фон */

@keyframes slides-animation {
        0% {
            transform: translateX(0);
            background-size: 200% 100%;
            background-position: 100% 0;
        }
        16.7% {
            transform: translateX(-49vw);
            background-size: 100% 100%;
            background-position: 0 0;
        }
        33.4% {
            transform: translateX(-98vw);
            background-size: 200% 100%;
            background-position: 100% 0;
        }
        50% {
            transform: translateX(-147vw);
            background-size: 100% 100%;
            background-position: 0 0;
        }
        66.7% {
            transform: translateX(-196vw);
            background-size: 200% 100%;
            background-position: 100% 0;
        }
        83.4% {
            transform: translateX(-245vw);
            background-size: 100% 100%;
            background-position: 0 0;
        }
        100% {
            transform: translateX(-294vw);
            background-size: 200% 100%;
            background-position: 100% 0;
        }
     }