:root {
    --aquamarine: #a9fbd7ff;
    --rich-black: #00171fff;
    --prussian-blue: #89909F;
    --argentinian-blue: #77b6eaff;
    --light-orange: #fcd0a1ff;
    --header-height: 80px;
}

html {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: var(--rich-black);
    color: white;
}

.orange-text {
    color: var(--light-orange);
    font-size: 1.2rem;
}

            /* Оформляю фиксированную шапку */

header {
    background: radial-gradient(var(--aquamarine), var(--rich-black) 55%);
    background-size: 200% 100%;
    height: var(--header-height);
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: logo-animation 6s ease-in-out infinite reverse;
    z-index: 1;
}

body {
    padding-top: var(--header-height);
}


@keyframes logo-animation {
    0% {
        background-position: -50% 50%;
    }
    100% {
        background-position: 150% 50%;
    }
}

header img:active {
    border: 3px inset var(--aquamarine);
    border-radius: 10px;
    padding: 0 10px;
}

            /* Строю анимацию из 6 фактов о компании (FlexBox + animation) */

#advantage-slides {
   margin-top: 2rem;
   display: flex;
   overflow-x: auto;
   justify-content: space-between;
   gap: 8rem;
}

#advantage-slides::-webkit-scrollbar {
    display: none;
}

.slide, .slide-spacer { 
    flex: 0 0 85%;
    }

.slide {
   background: linear-gradient(-9deg, var(--rich-black) 0% 90%, var(--aquamarine));
   border-radius: 0.5rem;
   animation: slides-animation 36s cubic-bezier(0.01, 1.45, 0.8, 0.1) infinite reverse; 
}

.slide p {
    text-align: justify;
    font-weight: 500;
    line-height: 1.3rem;
    padding: 0 1rem;
}

            /* Адаптируем анимированные слайды для ПК */

@media (min-width: 640px) {
    .slide, .slide-spacer { 
        flex: 0 0 40%;
    }
    .slide {
   background: linear-gradient(-9deg, var(--rich-black) 0% 80%, var(--aquamarine));
    }
}
    

            /* Анимация для бегущей строки из слайдов + динамичный фон */

@keyframes slides-animation {
    0% {
        transform: translateX(-8rem); /* 8rem = flexbox gap */
        background-size: 100% 100%;
    }
    16.7% {
        transform: translateX(calc(-100% - 16rem)); /* calc = slide width - flexbox gap */
        background-size: 200% 200%;
    }
    33.4% {
        transform: translateX(calc(-200% - 24rem));
        background-size: 100% 100%;
    }
    50% {
        transform: translateX(calc(-300% - 32rem));
        background-size: 200% 200%;
    }
    66.7% {
        transform: translateX(calc(-400% - 40rem));
        background-size: 100% 100%;
    }
    83.4% {
        transform: translateX(calc(-500% - 48rem));
        background-size: 200% 200%;
    }
    100% {
        transform: translateX(calc(-600% - 56rem));
        background-size: 100% 100%;
    }
}

            /* Оформляю раздел с видами предлагаемых работ из трёх "аккардионов" */

#types-of-work {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
}

.type {
    width: 85%;
    padding: 0;
    margin-bottom: 1rem;
    border-radius: 1rem;
    transition: 1s;
    animation: type-shadow 2s linear infinite;
}

.accordion-toggle {
    display: none;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in;
    padding: 0 1rem;
}

.accordion-toggle:checked ~ .accordion-content {
    max-height: 25rem;
    padding: 0 1rem;
}

#types-of-work h2 {
    text-align: center;
    font-size: 1.1rem;
    padding: 0 17vw;
}

.electricity h2 {
    color: var(--light-orange);
}

.ventilation h2 {
    color: var(--prussian-blue);
}

.water-supply h2 {
    color: var(--argentinian-blue);
}

#types-of-work p {
    text-align: justify;
}


@keyframes type-shadow {
    0% {
        box-shadow: 3px 3px 5px var(--aquamarine);
    }
    25% {
        box-shadow: -3px 3px 5px var(--aquamarine);
    }
    50% {
        box-shadow: -3px -3px 5px var(--aquamarine);
    }
    75% {
        box-shadow: 3px -3px 5px var(--aquamarine);
    }
    100% {
        box-shadow: 3px 3px 5px var(--aquamarine);
    }
}
 
            /* Адаптирую раздел для ПК + :hover individual box-shadow-animation */

@media (min-width: 640px) {
    #types-of-work {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
    }
    .type {
        width: 25%;
    }
    .type:hover {
        transform: scale(1.1);
        animation: none;
    }
    #types-of-work h2 {
        font-size: clamp(0.8rem, 1.7vw, 1.4rem);
        padding: 0;
        cursor: pointer;
    }
    .electricity:hover {
        animation: type-shadow-orange 2s linear infinite;
    }
    .ventilation:hover {
        animation: type-shadow-blue 2s linear infinite;
    }
    .water-supply:hover {
        animation: type-shadow-aqua 2s linear infinite;
    }
    @keyframes type-shadow-orange {
    0% {
        box-shadow: 3px 3px 5px var(--light-orange);
        }
    25% {
        box-shadow: -3px 3px 5px var(--light-orange);
        }
    50% {
        box-shadow: -3px -3px 5px var(--light-orange);
        }
    75% {
        box-shadow: 3px -3px 5px var(--light-orange);
        }
    100% {
        box-shadow: 3px 3px 5px var(--light-orange);
        }
    }
    @keyframes type-shadow-blue {
    0% {
        box-shadow: 3px 3px 5px var(--prussian-blue);
        }
    25% {
        box-shadow: -3px 3px 5px var(--prussian-blue);
        }
    50% {
        box-shadow: -3px -3px 5px var(--prussian-blue);
        }
    75% {
        box-shadow: 3px -3px 5px var(--prussian-blue);
        }
    100% {
        box-shadow: 3px 3px 5px var(--prussian-blue);
        }
    }
    @keyframes type-shadow-aqua {
    0% {
        box-shadow: 3px 3px 5px var(--argentinian-blue);
        }
    25% {
        box-shadow: -3px 3px 5px var(--argentinian-blue);
        }
    50% {
        box-shadow: -3px -3px 5px var(--argentinian-blue);
        }
    75% {
        box-shadow: 3px -3px 5px var(--argentinian-blue);
        }
    100% {
        box-shadow: 3px 3px 5px var(--argentinian-blue);
        }
    }
}
